<footer class="bg-sage-300 border-t border-sage-200 py-4">
  <nav class="flex items-center justify-center gap-4 mb-1">
    <%= link_to "利用規約", "#", 
    class: "link link-hover text-sm text-sage-600 hover:text-sage-800 transition-colors" %>
    <%= link_to "プライバシーポリシー", "#", 
    class: "link link-hover text-sm text-sage-600 hover:text-sage-800 transition-colors" %>
  </nav>
  <p class="text-sm text-center text-sage-700 mt-3">
   © <%= Time.current.year %> Capture Ur Day
  </p>
</footer>