<footer class="bg-forest-500 bg-opacity-80 border-t border-sage-200 py-4">
  <nav class="flex items-center justify-center gap-4 mb-1">
    <%= link_to "利用規約", "#", 
    class: "link link-hover text-base text-gray-800 hover:text-gray-800 transition-colors" %>
    <%= link_to "プライバシーポリシー", "#", 
    class: "link link-hover text-base text-gray-800 hover:text-gray-800 transition-colors" %>
  </nav>
  <p class="text-base text-center text-gray-800 mt-3">
   © <%= Time.current.year %> Capture Your Day
  </p>
</footer>