<%= content_for(:title, t('.title', default: APP_NAME)) %>
<main class="flex-grow px-10"> 
  <div class="max-w-2xl mx-auto md:px-0">
    <h1 class="font-sans font-bold text-3xl mb-5 text-center"><%= t('.title') %></h1>
      <%= render 'form', journal:@journal %>
  </div>
</main>