<%= content_for(:title, t('.title', default: APP_NAME)) %>
<div class="max-w-2xl mx-auto px-4 py-6">
  <h1 class="font-sans font-bold text-4xl mb-5 text-center"><%= t('.title') %></h1>
    <%= render 'form', journal:@journal %>
</div>
