<p><%= @resource.name.presence || @resource.email %>様</p>

<p>パスワード再設定のご依頼を受け付けました。</p>
<p>下記のリンクより、新しいパスワードの設定を行ってください。</p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※本メールにお心当たりのない場合は、恐れ入りますが、本メールを廃棄していただけますようお願いいたします。</p>
<p>また送信専用のため、ご返信いただいてもお答えできません。あらかじめご了承ください。</p>

